# ---------------------------
# Virtual Environment
# ---------------------------
.venv/
.env

# ---------------------------
# Python Cache
# ---------------------------
__pycache__/
*.pyc

# ---------------------------
# IDE Settings
# ---------------------------
.idea/
.vscode/

# vector databases
vector_store/
src/rag/vector_store/
# ---------------------------
# Data Files (Generated)
# ---------------------------
data/raw/*
data/processed/*
data/output/*

# Ignore generated data
*.csv
*.json
*.txt

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS
.DS_Store
Thumbs.db