# ---------------------------
# Virtual Environment
# ---------------------------
.venv/
.env

# ---------------------------
# Python Cache
# ---------------------------
__pycache__/
*.pyc

# ---------------------------
# IDE Settings
# ---------------------------
.idea/
.vscode/

# ---------------------------
# Data Files (Generated)
# ---------------------------
data/*

# Keep folder structure
!data/raw/
!data/processed/
!data/raw/.gitkeep
!data/processed/.gitkeep